
.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: rgb(74, 204, 224);
}

.footer form{
    width: auto;
    height: inherit;
}

#logoutBtn{
    margin: 0 auto;
    
    
}
   