div#header{
    width: 100%;
    height: 75px;
    background-color:rgb(171, 189, 223);
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: azure;
    line-height: 75px;
    margin-bottom: 0;
}

#header a{
    text-decoration: none;
    color: inherit; 

}