

.contenitoreSezionitab{
    width: 978px;
    height: 456px;
    margin: 0 auto;
}

.contenitoreSezionitab thead td{
    text-align: center;
    line-height: 0px;
    width: 40%;
}

.contenitoreSezionitab tbody td{
    text-align: center;
    line-height: 0px;
    width: 15%;
}


.contenitoreSezionitab .inputField{
    width: 50%;
    padding: 14px 16px;
    font-size: 17px;
}



.contenitoreSezionitab .inviaModulo{
    width: 521px;
    height: 50px;
    background-color: white;
    border: 0.2px solid black;
    font-size: 17px;
}

